html,
body {
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 画出田字格 */
/* 定义颜色 */
:root {
    --color1: deepskyblue;
    --color2: steelblue;
    --color3: royalblue;
    --color4: dodgerblue;
}

.diamond {
	display: grid;
	/* 形成田字 */
	grid-template-columns: 1fr 1fr;  
	
	/* 旋转45度 */
	transform: rotate(45deg);
}

.diamond span {
	border-width: 50px;
	border-style: solid;
	/* 填充颜色 */
	border-color: var(--color1) var(--color2) var(--color3) var(--color4);
}

/* 把田字格转换为钻石 */
.diamond span:first-child {
	border-color: transparent var(--color2) var(--color3) transparent;
}

/* 增加动画效果 */
.diamond span:not(:first-child){
	animation: animate 2s linear alternate;
}
@keyframes animate{
	0% {
		border-color: var(--color1) var(--color2) var(--color3) var(--color4);
	}
	25% {
		border-color: var(--color4) var(--color1) var(--color2) var(--color3) ;
	}
	50% {
		border-color: var(--color3) var(--color4) var(--color1) var(--color2) ;
	}
	75% {
		border-color: var(--color2) var(--color3) var(--color4) var(--color1);
	}
	100% {
		border-color: var(--color1) var(--color2) var(--color3) var(--color4);
	}
}